/* Font family styling */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b5068;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #0b5068;
    text-align: center;
    font-family: Anton, sans-serif;
}

/* Styling and layout for scoreboard */

.score-board {
    margin: 20px auto;
    border: 3px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: #ffffff;
    font-size: 47px;
    padding: 15px 20px;
    font-family: Anton, sans-serif;
    position: relative;
}

/* Style for user and computer badges */

.badge {
    background: red;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Anton, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -40px;
}

/* Style for results section */

.results {
    font-size: 41px;
    color: #ffffff;
}

.results > p {
    text-align: center;
    font-family: Anton, sans-serif;
}

/* Style and layout for images */

.choices {
    margin-top: 50px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    margin: 0 25px;
    padding: 10px;
    transition: bounce;
}

.choice:hover {
    cursor: grab;
}

/* Style for action message */

#action-message {
    text-align: center;
    text-decoration: underline red;
    color: white;
    font-family: Anton, sans-serif;
    font-size: 30px;
    margin-top: 25px;
}